@font-face {
  font-family: "Work-Sans Regular";
  src: url("../assets/fonts/work-sans/WorkSans-Regular.woff") format("woff"),
    url("../assets/fonts/work-sans/WorkSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Work-Sans Medium";
  src: url("../assets/fonts/work-sans/WorkSans-Medium.woff") format("woff"),
    url("../assets/fonts/work-sans/WorkSans-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Work-Sans Semibold";
  src: url("../assets/fonts/work-sans/WorkSans-Bold.woff") format("woff"),
    url("../assets/fonts/work-sans/WorkSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Work-Sans Bold";
  src: url("../assets/fonts/work-sans/WorkSans-SemiBold.woff") format("woff"),
    url("../assets/fonts/work-sans/WorkSans-SemiBold.woff2") format("woff2");
}
