/* Common styles */

.body {
  color: #373737;
  font-family: "Work-Sans Medium";
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 30%;
  padding: 50px 25px;
  margin: 0 30px 30px 0;
  background: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.block__image {
  margin-bottom: 10px;
}

.block__title {
  margin-bottom: 20px;
}

.block__tags {
  display: flex;
}

.block__tags a {
  margin-right: 10px;
  color: #333;
  text-decoration: none;
}

.block__button {
  margin-top: auto;
}

.block_number {
  position: absolute;
  top: 30px;
  right: 20px;
  font-weight: 600;
  font-size: 64px;
  line-height: 73px;

  color: #efefef;
}
